@import url(https://cur.cursors-4u.net/cursors/cur-10/cur964.cur);

@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");

.input {
  height: 60px;
  border-radius: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  background-color: rgb(140, 120, 97);
  color: rgb(1, 1, 1);
  padding: 11px 30px 11px 11px;
  margin: 1px #888;
  border: 2px dashed rgb(4, 4, 4);
  box-shadow: -1px 4px 1px 1px rgb(0, 0, 0);
  cursor: url(https://cur.cursors-4u.net/cursors/cur-10/cur964.cur), auto !important;
  font-family: "Caesar Dressing", cursive;
}
